body{
	margin: 0;
	padding: 0;
}

.followListMain{
}
.search{
	height: 8%;
}
.memberList{
	height: 84%;
    width: 100%;
    overflow-y: auto;
}
.actionButton{
	position: fixed;
	bottom: 20px;
    right: 20px;
	height:53px;
}

.icon{
	width:65px;
	height:65px;
}
.iconImage {
	height: calc(100% - 2px);
}
td {
	vertical-align: middle !important;
}