* {
	margin:0px;
	padding:0px;
}

body {
	min-width:550px;
}

#header {
	background-color:#00c864;
	color:#000000;
	height:49px;
}

#headLogo{
	position:absolute;
	left:40px;
}

.alert-warning{
	width:200px;
	margin:auto;
}


#loginBox{
	margin-top:50px;
}

#panelBody{
	padding-top:30px
}
#loginButton{
	padding-left:85%;'
}

.input-group{
	margin-bottom:25px;
}
.panel {
	width:500px;
	margin:auto;
}

.column {
	padding:0px;
}

.row {
	margin: 0;
}

.container-fluid {
	padding: 0;
}
/*
@media only screen and (max-width: 550px) {
    .panel {
        width: lightblue;
    }
}*/