* {
	margin:0px;
	padding:0px;
}

body {
	min-width:550px;
}

#header {
	background-color:#5bc0de;
}

#headerContent {
	text-align:center;
	font-size:28px;
}

#loginBox{
	margin-top:50px;
}

#panelBody{
	padding-top:30px
}

.input-group{
	margin-bottom:25px;
}
.panel {
	width:500px;
	margin:auto;
}

.column {
	padding:0px;
}
/*
@media only screen and (max-width: 550px) {
    .panel {
        width: lightblue;
    }
}*/