* {
	margin:0px;
	padding:0px;
}

#header {
	background-color:#5bc0de;
}

#headerContent {
	position:relative;
	top:50%;
	font-size:32px;
}

#loginBox{
	margin-top:50px;
}

#panelBody{
	padding-top:30px
}

.input-group{
	margin-bottom:25px;
}