body{
	height:100%;
}
html{
	height:100%;
}
#profile{
	color:#666666;
	background-color:#eeeeee;
	/*height:88.4vh;*/
	height:100%;
}
#icon{
	width:178px;
	height:178px;
	border: 2px #555555 solid;
}
#comment{
	resize: none;
	display:note;'
}
#iconwrap{
	align-items: center;
	justify-content: center;
}
#upload{
	/*display:none;*/
	visibility:hidden;
}