#text {
	margin-bottom:5px;
}

hr {
	margin-top:30px;
	margin-bottom:0px;
}

.textarea-container {
    font-family: Lato;
    margin-top: 10px;
}

#btn {
	margin-top:5px;
}

#content {
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
    height: 130px;
    width: 100%;
    border: 1px solid #F2F2F2;
}